/* global */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.spacerVert {
  width: 30px;
  height: 0px;
  display: block;
  clear: both;
}

.spacer0 {
  width: 100%;
  height: 15px;
  display: block;
  clear: both;
}

.spacer1 {
  width: 100%;
  height: 50px;
  display: block;
  clear: both;
}

.spacer2 {
  width: 100%;
  height: 75px;
  display: block;
  clear: both;
}

.spacer3 {
  width: 100%;
  height: 100px;
  display: block;
  clear: both;
}

/* navbar */

.navbar-brand p {
  display: inline-block;
  margin-bottom: -16px;
}

.navbar-brand {
  padding-left: 16px;
}

.navbar-brand a {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar a {
  color: black;
}

#navbarSupportedContent .nav-item {
  border-bottom: 2px solid transparent;
}

#navbarSupportedContent .nav-item:hover {
  border-bottom: 2px solid rgb(51, 153, 255);
}

#navbarSupportedContent .nav-item a:hover {
  color: rgb(51, 153, 255) !important;
}

#navbarSupportedContent .nav-item a {
  font-size: 15px;
  font-weight: 500;
}

.navbar-custom {
  background: white;
  border-bottom: 1px solid #eee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#xsnavbar a {
  font-size: 15px;
  font-weight: 500;
  color: #888;
  padding-left: 16px;
}
  
#xsnavbar a:hover {
  color: black;
}

.xsnav-dim .nav-item {
  border-bottom: 1px solid #eee;
}

.pic-frame {
  padding: 10px;
  border-radius: .25rem!important;
  box-shadow: rgb(58 78 95 / 20%) 0 10px 16px, rgb(58 78 95 / 5%) 0 -5px 16px;
  background-color: #fff;
  margin-top: 15px;
}

.pic-frame-main {
  padding: 10px;
  background-color: rgb(41, 160, 77);
  margin-bottom: 15px;
}

.text-grey {
  color: rgb(51, 153, 255);
}

.aspectRatioBox {
  position: relative;
  padding-top: calc(1 * 100%); 
  background-size: cover;
  background-position: center;
  transition: background 1s linear;
}

.social-box {
  position: relative;
  padding-left: 15px;
}

.about-title p, .social-box {
  display: inline-block;
}

.social-box .social-icons input, .social-box-disabled .social-icons input{
  width: 50px;
  height: 50px;
  line-height: 40px;
  font-size: 17px;
  background: transparent;
  border: 1px solid #111;
  color: #fff;
  border-radius: 3px;
  margin-right: 10px;
  text-align: center;
  vertical-align: top;
  transition: ease all 0.55s;
}

.social-box-disabled .social-icons input {
  background:  rgb(116, 116, 128);
}

.social-box .social-icons input:hover {
  background: rgb(177, 210, 235);
}

#statsTitle {
  font-size: 20px;
  margin-bottom: 5px;
  color: #888;
}

#winCounterMe, #winCounterAI, #drawCounter {
  font-weight: 900;
  font-size: 25px;
}

#modeTitle {
  color: #888;
  font-weight: 900;
}

.buttonSmall {
  background-color: rgba(51,153,255,1);
  box-shadow: rgb(58 78 95 / 20%) 0 10px 16px, rgb(58 78 95 / 5%) 0 -5px 16px;
  color: white;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 3px 15px;
  margin: 5px 0 5px 15px;
  font-size: 14px;
  font-weight: 600;
  transition: ease-in-out all .7s;
}

.buttonSmall:active {
  border: 1px solid white;
}

.buttonSmall:hover {
  box-shadow: rgb(51 153 255 / 60%) 0 10px 16px, rgb(51 153 255 / 20%) 0 -5px 16px;
}

#modeButtonDiv {
  width: 100%;
  height: 40px;
}

#modeTitle {
  padding-right: 15px;
}

.player-frame, .dealer-frame {
  min-height: 130px;
}

.card {  
  display: inline-block;
  position: relative;
  margin-right: 10px;
  width: 85px;
  height: 121px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

.cardContent {
  display: inline-block;
  position: absolute;
}

.cardContent.topLeft {
  top: 5px;
  left: 5px;
}

.cardContent.downRight {
  bottom: 5px;
  right: 5px;
  transform: rotate(180deg);
}

.cardSuit {
  font-size: 45px;
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translateY(-50%);
}

.spade, .club {
  color: black;
}

.heart, .diamond {
  color: red;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.scores {
  font-weight: 900;
  padding-bottom: 5px;
}